<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>NVDIA JetsonTX1 Console</title>
    <link rel="stylesheet" href="/static/assets/style.css">
    <script src="/static/assets/jquery-3.2.1.min.js"></script>
    <script src="/static/assets/main.js"></script>
</head>
<body>
<nav>
    <a class="NVDIA-linker" href="http://www.nvidia.cn/page/home.html"></a>
    <a class="hackx-linker" href="https://www.hackx.org/"></a>
</nav>
<div class="title">
    The Console of Automated Vehicle
</div>
<div class="main">
    <div class="control">
        <div class="row">
            <button id="forward-left"></button>
            <button id="forward"></button>
            <button id="forward-right"></button>
        </div>
        <div class="row">
            <button id="left"></button>
            <button id="stop"></button>
            <button id="right"></button>
        </div>
        <div class="row">
            <button id="back-left"></button>
            <button id="back"></button>
            <button id="back-right"></button>
        </div>
        <div class="data" id="front-dis">
            Front: 100
        </div>
        <div class="data" id="back-dis">
            Back: 100
        </div>
    </div>
    <div class="main-Mr">
        <img src="/static/assets/MrHuang.png">
    </div>
</div>
<div class="main-two">
    <div class="main-two-left">
        <p>
        <h1> MENU </h1> </p>
        <button id="but-one">Mode 0</button>
        <button id="but-two">Mode 1</button>
        <button id="but-three">Mode 2</button>
    </div>
    <div class="video">
        <img src="/video_feed">
    </div>
</div>
</body>
</html>